fastapi
uvicorn
pydantic
transformers
accelerate
torch
safetensors
sentencepiece
protobuf
pytest
python-multipart
python-dotenv
gigachat
PyJWT
sentence-transformers
opencv-python
numpy
pillow
rapidocr-onnxruntime
pymupdf
easyocr
open_clip_torch