fastapi
uvicorn
pydantic

transformers
accelerate
safetensors
sentencepiece
protobuf

pytest
python-multipart
python-dotenv

gigachat
PyJWT

sentence-transformers

opencv-python-headless==4.11.0.86
numpy
pillow
onnxruntime

pymupdf
easyocr
open_clip_torch
python-docx